= form_with model: tweet, class: :form, local: true do |form|
  New Posting Form
  = form.text_field :title, placeholder: "What is kind of contents?", class: "form__title"
  .form__content
    = form.text_area :text, class: 'form__content__text', placeholder: "Type or describe your contents"
    = form.label :image, class: 'form__content__image' do
      %i.fas.fa-image{class: 'form__content__image__fa-image'}
      = form.file_field :image, id: :user_img, class: 'form__content__image__file-image'
      - if @tweet.image.present? do
        = image_tag image, id: :img_prev, class: 'form__content__image__file-image__preview'
    
          :javascript
            $(function() {
              function readURL(input) {
                  if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                  }
              }
              $("#u_img").change(function(){
                  readURL(this);
              });
            });

  = form.submit '投稿する', class: 'form__btn'


-# =image_tag form.imageg.url,  if form.image.present? do